@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SkillTree course introduction</h1>
    <p class="lead">ASP.NET MVC5 實戰訓練營 2017</p>
    <p><a href="https://skilltree.my/events/7hafh" class="btn btn-primary btn-lg" target="_blank">Read more</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>JavaScript</h2>
        <p>
            JavaScript 實務測試新手班 第三梯.
        </p>
        <p><a class="btn btn-default" href="https://skilltree.my/events/7ibgg" target="_blank">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>OOP</h2>
        <p>物件導向實作課程（使用C#）第十梯.</p>
        <p><a class="btn btn-default" href="https://skilltree.my/events/7jbei" target="_blank">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TypeScript</h2>
        <p>TypeScript新手入門班 第二梯.</p>
        <p><a class="btn btn-default" href="https://skilltree.my/events/7jcbj" target="_blank">Read more &raquo;</a></p>
    </div>
</div>